### Dependencies ###
# Node dependencies directory
node_modules

# Typings definitions
typings

### Temporary files ###
# Temporary directory
tmp

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed


### IDE files ###
# Komodo Tools
*.komodoproject
.komodotools

# WebStorm
.idea
